p { text-indent: 2em; line-height: 1.2; }
* {font-family: garamond, georgia, times, serif, monospace;}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}
// This is how I usually invoke the style sheet:
// <link rel="stylesheet" type="text/css" href="/style.css" /> <!-- This line is merely to style the page correctly in systems that respect such styling; it has no semantic meaning otherwise. -->
